:root {
    --dark0: #282828;
    --light0: #fbf1c7;
    --grey: #928374;
    --neutral_orange: #d65d0e;
    --neutral_yellow: #d79921;
    --neutral_yellow_transparent: #d7992110;
}

@font-face {
    font-family: Iosevka;
    src: url(fonts/iosevka-latin-400-normal.woff2);
}

body {
    background-color: var(--dark0);
    color: var(--light0);
    font-family: "Iosevka", "Courier New", sans-serif;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 3rem;
    width: 100%;
    box-sizing: border-box;
}

hr {
    margin: 24px 0;
}

h1,
h1>a,
h2,
h2>a {
    color: var(--neutral_orange);
}

a {
    color: var(--neutral_yellow);
    text-decoration: none;
}

a.disabled {
    color: var(--grey);
}

a:hover {
    color: var(--light0);
    text-decoration: underline;
}

ul {
    list-style-position: inside;
}

li.disabled::marker {
    color: var(--grey);
}

summary {
    color: var(--neutral_yellow);
}

details[open]>summary {
    background-color: var(--neutral_yellow_transparent);
}

summary:hover {
    text-decoration: underline;
}

summary::marker {
    color: var(--light0);
}
